<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deals</title>
</head>
<style>
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
<body>

    <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Этап</th>
        <th>Валюта</th>
        <th>Стоимость</th>
        <th>Начало</th>
        <th>Конец</th>
          <th> Способ оплаты</th>
      </tr>
    </thead>
    <tbody>
      {% for deal in deals %}

          <tr>
            <td>{{ deal.ID }}</td>
            <td>{{ deal.TITLE }}</td>
            <td>{{ deal.STAGE_ID }}</td>
            <td>{{ deal.CURRENCY_ID }}</td>
            <td>{{ deal.OPPORTUNITY }}</td>
            <td>{{ deal.BEGINDATE }}</td>
            <td>{{ deal.CLOSEDATE }}</td>
            <td>{{ deal.UF_CRM_USRFLD }}</td>
          </tr>

      {% endfor %}
    </tbody>
  </table>

<a href="{% url 'reload_start' %}"><button> Главная</button></a>

</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>