<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deals</title>
</head>
<body>

    <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Этап</th>
        <th>Валюта</th>
        <th>Стоимость</th>
        <th>Начало</th>
        <th>Конец</th>
      </tr>
    </thead>
    <tbody>
      {% for deal in res %}

          <tr>
            <td>{{ deal.ID }}</td>
            <td>{{ deal.TITLE }}</td>
            <td>{{ deal.STAGE }}</td>
            <td>{{ deal.CURRENCY_ID }}</td>
            <td>{{ deal.OPPORTUNITY }}</td>
            <td>{{ deal.BEGINDATE }}</td>
            <td>{{ deal.CLOSEDATE }}</td>
          </tr>

      {% endfor %}
    </tbody>
  </table>



</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>